/* 
	--------------------------------------------------------

	Reset Browser Style

	--------------------------------------------------------
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


/* 
--------------------------------------------------------

Typography - Font Displays

--------------------------------------------------------
*/


/* 
--------------------------------------------------------

Grid Layout

--------------------------------------------------------
*/

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero-container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero-row .container {
    padding: 20px 30px 40px 30px;
    background-color: #FFF;
    position: relative;
    top: -50px;
    z-index: 6;
}


/* 
--------------------------------------------------------

Header

--------------------------------------------------------
*/

header aside {
    float: right;
}

header #logo-wrapper {
    float: left;
}

header aside ul {
    display: inline-block;
    position: relative;
}

header aside ul+ul {
    margin-left: 30px;
}

header aside ul+ul:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #000;
    margin: 0 10px;
    position: absolute;
    left: -28px;
    top: -2px;
}

header aside ul li {
    display: inline-block;
}

#logo img {
    max-width: 105px;
}


/* End */

header#site-header {
    padding: 10px 0;
    color: #222;
    font-family: "Helvetica";
    float: left;
    width: 100%;
}

header#site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
--------------------------------------------------------

Navigation

--------------------------------------------------------
*/

nav#main-navigation ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

nav#main-navigation ul li {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
}

nav#main-navigation ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}


/* 
--------------------------------------------------------

Footer

--------------------------------------------------------
*/

footer {
    padding: 13px 0;
    text-align: center;
    background-color: #bfbfbf;
    color: #222;
    font-family: "Helvetica";
}


/* 
--------------------------------------------------------

Repeatable Elements

--------------------------------------------------------
*/

body,
p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: #FFF;
    padding: 50px 0;
}


/* 
--------------------------------------------------------

Main

--------------------------------------------------------
*/

main {
    background-color: #ebebeb;
    width: 100%;
    min-height: 1200px;
    float: left;
}

main #slider {
    width: 100%;
    background-color: green;
    color: #FFF;
    text-align: center;
    padding: 30px 0;
}

main .three-articles {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color: #FFF;
    background-color: blue;
}


/* 
--------------------------------------------------------

Frontpage Specific Content

--------------------------------------------------------
*/

#hero-frontpage {
    padding: 170px 0 100px;
    background-color: lightblue;
    background-image: url('../images/hero-background-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}

#hero-frontpage:before {
    content: "";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.2;
    pointer-events: none;
    z-index: 1;
}

#hero-search,
nav#main-navigation {
    position: relative;
    z-index: 2;
}

#hero-search input {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 24px;
    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;
    border: 1px solid #CCC;
}