/* 
	--------------------------------------------------------

	Reset Browser Style

	--------------------------------------------------------
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


/* 
--------------------------------------------------------

Typography - Font Displays

--------------------------------------------------------
*/


/* 
--------------------------------------------------------

Grid Layout

--------------------------------------------------------
*/

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero-container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* 
--------------------------------------------------------

Header

--------------------------------------------------------
*/

header {
    background-color: #bfbfbf;
}

header aside {
    float: right;
    height: 100%;
}

header #logo-wrapper {
    float: left;
}

header aside ul {
    display: inline;
    position: relative;
    vertical-align: middle;
}

header aside ul+ul {
    margin-left: 45px;
    height: 30px;
}

header aside ul+ul:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #000;
    margin: 0;
    position: absolute;
    left: -26px;
    top: 0px;
}

aside ul li {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}

header aside ul li:not(:last-of-type) {
    margin-right: 25px;
}

aside .social-media li:not(:last-of-type) {
    margin-right: 1px;
}

aside ul li a span {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

aside ul li strong {
    display: block;
}

aside ul#contact-info li a {
    padding-right: 37px;
    position: relative;
    display: block;
}

aside ul#contact-info li i {
    position: absolute;
    top: 50%;
    right: 0;
    margin-left: 0;
    transform: translate(0%, -50%);
    border: 1px solid #000;
    border-radius: 100%;
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

aside ul li a i {
    margin-left: 7px;
    font-size: 15px;
    vertical-align: middle;
    margin-top: -2px;
}

aside .social-media li img {
    /* max-width: 35px; */
    height: 32px;
    width: auto;
    vertical-align: middle;
}

.social-media a {
    display: block;
}

#logo img {
    max-width: 105px;
}

header#site-header {
    padding: 7px 0;
    color: #222;
    font-family: "Helvetica";
    float: left;
    width: 100%;
}

header#site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
--------------------------------------------------------

Navigation

--------------------------------------------------------
*/

nav#main-navigation ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}

nav#main-navigation ul li {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

nav#main-navigation ul li a {
    display: block;
    padding: 10px 30px 10px 40px;
    font-size: 14px;
    text-align: left;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

nav#main-navigation ul>li:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 21px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

nav#main-navigation ul>li:hover {
    background-color: #000;
    color: #ebebeb;
}

nav#main-navigation ul>li:first-of-type:hover,
nav#main-navigation ul>li:first-of-type:before {
    background-color: rgb(84, 125, 189)
}

nav#main-navigation ul>li:nth-of-type(2):hover,
nav#main-navigation ul>li:nth-of-type(2):before {
    background-color: rgb(102, 178, 48)
}

nav#main-navigation ul>li:nth-of-type(3):hover,
nav#main-navigation ul>li:nth-of-type(3):before {
    background-color: rgb(227, 38, 38)
}

nav#main-navigation ul>li:nth-of-type(4):hover,
nav#main-navigation ul>li:nth-of-type(4):before {
    background-color: rgb(245, 153, 74)
}

nav#main-navigation ul>li:first-of-type:hover:before,
nav#main-navigation ul>li:nth-of-type(2):hover:before,
nav#main-navigation ul>li:nth-of-type(3):hover:before,
nav#main-navigation ul>li:nth-of-type(4):hover:before {
    background-color: #ebebeb;
}


/* 
--------------------------------------------------------

Footer

--------------------------------------------------------
*/

footer {
    padding: 50px 0;
    text-align: center;
    background-color: #333;
    color: #FFF;
    font-family: "Helvetica";
    float: left;
    width: 100%;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 1fr;
    grid-column-gap: 15px;
}

footer address {
    text-align: left;
    font-style: normal;
}

footer #rsv a {
    display: inline-block;
    vertical-align: middle;
}

footer #rsv a:not(:last-of-type) {
    margin-right: 15px;
}


/* 
--------------------------------------------------------

Repeatable Elements

--------------------------------------------------------
*/

body,
p {
    font-family: Arial, Helvetica, sans-serif;
}

form#hero-search {
    background-color: #FFF;
    padding: 50px 0;
    border-radius: 62px;
}


/* 
--------------------------------------------------------

Main

--------------------------------------------------------
*/

main {
    background-color: #ebebeb;
    width: 100%;
    min-height: 1200px;
    float: left;
}

main #slider {
    width: 100%;
    background-color: green;
    color: #FFF;
    text-align: center;
    padding: 30px 0;
}

main .three-articles {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color: #FFF;
    background-color: blue;
}


/* 
--------------------------------------------------------

Frontpage Specific Content

--------------------------------------------------------
*/

#hero-frontpage {
    padding: 170px 0 100px;
    background-color: lightblue;
    background-image: url('../images/hero-background-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}

#hero-frontpage:before {
    content: "";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.15;
    pointer-events: none;
    z-index: 1;
}

.hero-row {
    position: relative;
    top: -50px;
    z-index: 6;
}

.hero-row .container {
    padding: 40px 45px 40px 45px;
    background-color: #FFF;
    position: relative;
}

.hero-row .container:after {
    content: "";
    background-color: #FFF;
    position: absolute;
    bottom: -50px;
    height: 50px;
    display: block;
    width: 100%;
    left: 0;
}

#hero-search,
nav#main-navigation {
    position: relative;
    z-index: 2;
}

#hero-search input {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 24px;
    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;
    border: 1px solid #CCC;
}

main article h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

main .two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
}

main .two-column:not(:last-child) {
    margin-bottom: 70px;
}

main .two-column.img-first {
    grid-template-columns: 1fr 2fr;
}

main .two-column.img-first img {
    grid-column-start: 1;
    grid-row-start: 1;
}

#newsletter {
    background-color: #5d5d5d;
    text-align: center;
    padding: 40px 0;
}

#newsletter h3 {
    color: #FFF;
    margin-bottom: 5px;
}

#newsletter p {
    margin-bottom: 15px;
    color: #FFF;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

#input-fields {
    margin-bottom: 15px;
}

#input-fields input {
    padding: 7px 15px;
    border-radius: 24px;
    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;
    border: 1px solid #CCC;
}

#input-fields input:not(:last-of-type) {
    margin-right: 8px;
}

#newsletter button {
    padding: 10px 30px;
    border-radius: 24px;
    border: none;
    background-image: none;
    border: 1px solid #CCC;
}

#newsletter button:hover {
    cursor: pointer;
}