/* 
	--------------------------------------------------------

    File Purpose: 
    This file is used for general styling of repeatable elements such as header, navigation and footer and also the index page
    
    Authors: 
    Jesper Pedersen
    Joachim Thorius
    Andrea Tos Thomassen
    Kresten B. Carr
    Emil Starup

	--------------------------------------------------------
*/


/* 
	--------------------------------------------------------

	Colors

	--------------------------------------------------------
*/

:root {
    --education: rgb(84, 125, 189);
    --network: rgb(102, 178, 48);
    --counsel: rgb(227, 38, 38);
    --research: rgb(245, 153, 74);
    --bg: #bfbfbf;
    --dark-bg: #333;
}


/* 
--------------------------------------------------------

Typography - Font Displays

--------------------------------------------------------
*/

@font-face {
    font-family: 'PFDinDisplayPro-Regular';
    src: url('../fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinDisplayPro-Regular.woff') format('woff'), url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinDisplayPro-Bold';
    src: url('../fonts/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PFDinDisplayPro-Bold.woff') format('woff'), url('../fonts/PFDinDisplayPro-Bold.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* 
	--------------------------------------------------------

	Reset Browser Style

	--------------------------------------------------------
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


/* 
--------------------------------------------------------

Grid Layout

--------------------------------------------------------
*/

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero-container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* 
--------------------------------------------------------

Repeatable Elements

--------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PFDinDisplayPro-Bold', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #A5988C;
    padding-bottom: 9px;
}

p+p {
    margin-top: 15px;
}

h3 {
    font-weight: normal;
}

.education h2 {
    border-color: var(--education);
}

.network h2 {
    border-color: var(--network);
}

.counsel h2 {
    border-color: var(--counsel);
}

.research h2 {
    border-color: var(--research);
}

h3 {
    font-size: 20px;
}

body,
p {
    font-family: 'PFDinDisplayPro-Regular', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

p a {
    border-bottom: 1px solid #000;
}

.shaded {
    position: relative;
}

.shaded:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: 1.25rem;
    bottom: 0;
    -webkit-box-shadow: 0.125rem 0.75rem 1.25rem 0 rgba(158, 158, 158, 0.4);
    box-shadow: 0.125rem 0.75rem 1.25rem 0 rgba(158, 158, 158, 0.4);
    z-index: -1;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: .875rem 1.5rem;
    background-color: #ebebeb;
    margin-top: 20px;
    font-size: 16px;
}

.call-to-action {
    margin-top: 45px;
    color: #FFF;
    background-color: var(--education);
    padding: 20px 45px;
}

.call-to-action p {
    margin-top: 5px;
    max-width: 700px;
}

.call-to-action .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action a.btn {
    margin: 0;
    color: #000;
}


/* 
--------------------------------------------------------

Header

--------------------------------------------------------
*/

header {
    background-color: var(--bg);
}

header #logo-wrapper {
    float: left;
}

header aside {
    float: right;
    height: 100%;
}

header aside ul {
    display: inline;
    position: relative;
    vertical-align: middle;
}

header aside ul+ul {
    margin-left: 45px;
    height: 30px;
}

header aside ul+ul:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    margin: 0;
    position: absolute;
    left: -26px;
    top: 0px;
    background-color: #000;
}

aside ul li {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}

aside ul li a i {
    margin-left: 7px;
    font-size: 15px;
    vertical-align: middle;
    margin-top: -2px;
}

header aside ul li:not(:last-of-type) {
    margin-right: 25px;
}

aside .social-media li:not(:last-of-type) {
    margin-right: 1px;
}

aside ul li a span {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

aside ul li strong {
    display: block;
}

aside ul#contact-info li a {
    padding-right: 39px;
    position: relative;
    display: block;
}

aside ul#contact-info li i {
    position: absolute;
    top: 50%;
    right: 0;
    margin-left: 0;
    transform: translate(0%, -50%);
    border: 1px solid #000;
    border-radius: 100%;
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

aside .social-media li img {
    height: 32px;
    width: auto;
    vertical-align: middle;
}

.social-media a {
    display: block;
}

#logo img {
    max-width: 105px;
}

header#site-header {
    padding: 7px 0;
    float: left;
    width: 100%;
    background-color: #FFF;
}

header#site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
--------------------------------------------------------

Navigation

--------------------------------------------------------
*/

nav#main-navigation ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

nav#main-navigation ul li {
    background-color: #FFF;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
}

nav#main-navigation ul li a {
    display: block;
    padding: 5px 30px 5px 42px;
    font-size: 14px;
    text-align: left;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

nav#main-navigation ul>li:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #000;
    position: absolute;
    left: 19px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    top: 50%;
    transform: translate(0, -50%);
}

nav#main-navigation ul>li a:hover {
    cursor: pointer;
}

nav#main-navigation ul>li.menu-item-active,
nav#main-navigation ul>li:hover {
    background-color: #000;
    color: #ebebeb;
}

nav#main-navigation ul>li:first-of-type.menu-item-active,
nav#main-navigation ul>li:first-of-type:hover,
nav#main-navigation ul>li:first-of-type:before {
    background-color: var(--education);
}

nav#main-navigation ul>li:nth-of-type(2).menu-item-active,
nav#main-navigation ul>li:nth-of-type(2):hover,
nav#main-navigation ul>li:nth-of-type(2):before {
    background-color: var(--network);
}

nav#main-navigation ul>li:nth-of-type(3).menu-item-active,
nav#main-navigation ul>li:nth-of-type(3):hover,
nav#main-navigation ul>li:nth-of-type(3):before {
    background-color: var(--counsel);
}

nav#main-navigation ul>li:nth-of-type(4).menu-item-active,
nav#main-navigation ul>li:nth-of-type(4):hover,
nav#main-navigation ul>li:nth-of-type(4):before {
    background-color: var(--research);
}

nav#main-navigation ul>li.menu-item-active:before,
nav#main-navigation ul>li:first-of-type:hover:before,
nav#main-navigation ul>li:nth-of-type(2):hover:before,
nav#main-navigation ul>li:nth-of-type(3):hover:before,
nav#main-navigation ul>li:nth-of-type(4):hover:before {
    background-color: #ebebeb;
}

.expanded-navigation {
    position: absolute;
    height: 100%;
    background-color: #FFF;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    color: #FFF;
    padding: 15px 15px;
    overflow: hidden;
}

.expanded-navigation>ul>li>ul.sub-menu li.has-sub-menu a {
    padding-bottom: 3px;
}

.education article .content {
    min-height: 180px;
}

span.close-menu {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 24px;
    z-index: 15;
}

span.close-menu:hover {
    cursor: pointer;
}

li.has-sub-menu {
    padding-bottom: 10px;
}

.expanded-navigation>ul {
    display: none;
}

.expanded-navigation.active {
    opacity: 1 !important;
    /* overwrite inline CSS */
    pointer-events: all !important;
    /* overwrite inline CSS */
    height: 100% !important;
    /* overwrite inline CSS */
}

.expanded-navigation>ul>li {
    display: block;
    width: calc(33% - 15px);
    position: relative;
    margin-right: 15px;
    min-height: 11.35%;
}

.expanded-navigation>ul>li>.sub-menu {
    margin-right: 30px;
    padding-bottom: 5px;
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
}

.expanded-navigation>ul#research-navigation>li,
.expanded-navigation>ul#network-navigation>li {
    width: 100%;
    margin-right: 0px;
}

.expanded-navigation #network-navigation>ul>li {
    background-color: var(--education);
}

.expanded-navigation>ul>li a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.expanded-navigation>ul>li.has-sub-menu a {
    padding-bottom: 5px;
}

.expanded-navigation>ul>li>ul.sub-menu a {
    padding-top: 7px;
    padding-bottom: 10px;
}


/* Different Menus */

.expanded-navigation.education {
    background-color: var(--education);
}

.expanded-navigation.network {
    background-color: var(--network);
}

.expanded-navigation.counsel {
    background-color: var(--counsel);
}

.expanded-navigation.research {
    background-color: var(--research);
}


/* End */

.expanded-navigation>ul>li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    pointer-events: none;
}


/*
.expanded-navigation>ul>li:nth-of-type(even):before {
    background-color: rgba(0, 0, 0, 0.2);
}

.expanded-navigation>ul>li:hover:nth-of-type(even):before {
    background-color: transparent;
}
*/

.expanded-navigation>ul>li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.expanded-navigation .column-height {
    min-height: 98.5%;
}

.expanded-navigation .sub-menu li a {
    padding-left: 7px;
}

.expanded-navigation .sub-menu li .sub-menu li a {
    padding-left: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.expanded-navigation .sub-menu li a:before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 7px;
    border-radius: 100%;
}

.expanded-navigation .sub-menu li .sub-menu li a:before {
    content: "-";
    background-color: transparent;
}

.expanded-navigation>ul>li>.sub-menu>li:nth-of-type(odd) {
    position: relative;
}

.expanded-navigation .sub-menu li a {
    position: relative;
    z-index: 2;
    font-size: 14px;
}

.expanded-navigation>ul>li>.sub-menu>li:nth-of-type(odd):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.expanded-navigation>ul>li>.sub-menu>li:hover:nth-of-type(odd):before {
    background-color: transparent;
}

.expanded-navigation>ul.active {
    height: 100%;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: baseline;
    /* justify-content: center; */
}


/* 
--------------------------------------------------------

Footer

--------------------------------------------------------
*/

footer {
    padding: 50px 0;
    text-align: center;
    background-color: var(--dark-bg);
    color: #FFF;
    float: left;
    width: 100%;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1.2fr 1fr;
    grid-column-gap: 15px;
}

footer address {
    text-align: left;
    font-style: normal;
}

footer #rsv a {
    display: inline-block;
    vertical-align: middle;
}

footer #rsv a:not(:last-of-type) {
    margin-right: 15px;
}


/* 
--------------------------------------------------------

Main

--------------------------------------------------------
*/

main {
    background-color: #ebebeb;
    width: 100%;
    float: left;
}


/* 
--------------------------------------------------------

Frontpage Specific Content

--------------------------------------------------------
*/

form#hero-search {
    padding: 14px 0;
    border-radius: 104px;
}

#hero-frontpage {
    padding: 170px 0 100px;
    background-color: lightblue;
    background-image: url('../images/hero-background-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    position: relative;
}

#hero-frontpage:before {
    content: "";
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.15;
    pointer-events: none;
    z-index: 1;
}

.hero-row {
    position: relative;
    top: -54px;
    transition: 0.3s ease-in-out;
    z-index: 6;
}

.navigation-wrapper {
    height: 500px;
    max-height: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.5s;
    margin-bottom: 0;
}

.hero-row.main-menu-active .navigation-wrapper {
    max-height: 310px;
    margin-bottom: 30px;
}

.hero-row .navigation-wrapper .container {
    position: relative;
    height: 100%;
}

.hero-row.main-menu-active {
    top: -89px;
}

.hero-row .education .container {
    background-color: #FFF;
    position: relative;
}

.hero-row .counsel .container {
    background-color: var(--counsel);
    padding: 40px 45px 40px 45px;
    color: #FFF;
    overflow: hidden;
}

.counsel p a {
    border-color: white;
}

.services ol {
    list-style: none;
}

.services ol li {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFF;
}

.services ol li:last-of-type {
    border-color: transparent;
}

.colored.counsel h2 {
    border-color: #FFF;
}

.row.counsel .container {
    position: relative;
    z-index: 14;
}

.hero-row .counsel .btn {
    color: #222;
}

.services section,
.hero-row .counsel .container .counsel-primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-right: 80px;
}

.research .container section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding-bottom: 40px;
}

.research .container section article {
    display: flex;
    flex-direction: column;
    position: relative;
}

.research .container section article .blog-image {
    order: -2;
}

.research .container section article span {
    order: -1;
    margin: 8px 0;
}

.research .container section article h3 {
    margin: 8px 0;
    min-height: 70px;
}

.research .container section article .btn {
    background-color: #FFF;
    max-width: 139px;
    position: absolute;
    bottom: -65px;
    margin-top: 0;
}


/* The ribbon */

span.ribbon-shadow {
    position: absolute;
    top: -350px;
    right: 0;
    animation-delay: 2s;
}

span.ribbon-shadow.animate {
    animation: drop forwards .8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ribbon {
    position: absolute;
    right: 45px;
    width: 28px;
    height: 42px;
    background-color: #FFF;
    z-index: 2;
}

@keyframes drop {
    0% {
        top: -350px;
    }
    100% {
        top: 0;
    }
}

.ribbon:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -12px;
    border-left: 14px solid #FFF;
    border-right: 14px solid #FFF;
    border-bottom: 12px solid transparent;
}

.ribbon-shadow:after {
    content: '';
    width: 92px;
    height: 73px;
    position: absolute;
    z-index: -1;
    right: -19px;
    top: 13px;
    background-color: rgb(185, 33, 33);
    transform: skewY(35deg) skewX(0);
}

#hero-search,
nav#main-navigation {
    position: relative;
    z-index: 2;
}

#hero-search input {
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 24px;
    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;
    border: 1px solid #CCC;
    width: 100%;
    max-width: 582px;
    margin-top: 60px;
    background-image: url('../images/search-icon.png');
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

main .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
}

main .row {
    padding: 40px 45px 40px 45px;
}

main .two-column:not(:last-child) {
    margin-bottom: 0;
}

main .two-column.img-first {
    grid-template-columns: 1fr 2fr;
}

main .two-column.img-first img {
    grid-column-start: 1;
    grid-row-start: 1;
}


/* Newsletter */

#newsletter {
    background-color: #5d5d5d;
    text-align: center;
    padding: 40px 0;
}

#newsletter h3 {
    color: #FFF;
    margin-bottom: 5px;
}

#newsletter p {
    margin-bottom: 15px;
    color: #FFF;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#input-fields {
    margin-bottom: 15px;
}

#input-fields input {
    padding: .875rem 1.5rem;
    outline: none;
    box-shadow: none;
    background-image: none;
    border: none;
    border: 1px solid #CCC;
    font-size: 16px;
    font-family: 'PFDinDisplayPro-Regular', Arial, Helvetica, sans-serif;
}

#input-fields input:not(:last-of-type) {
    margin-right: 8px;
}

#newsletter button {
    padding: .875rem 1.5rem;
    border: none;
    background-image: none;
    border: 1px solid #CCC;
    font-size: 16px;
    font-family: 'PFDinDisplayPro-Regular', Arial, Helvetica, sans-serif;
}

#newsletter button:hover {
    cursor: pointer;
}